materials
# materials
# ├── 4
# │   ├── 01_pds4_workshop_logistics.pptx
# │   ├── 02_pds4_workshop_psa_challenge.pptx
# │   ├── 04_05_pds4_workshop_pds4_intro.pptx
# │   ├── 06_pds4_workshop_data_delivery.pptx
# │   └── 07_pds4_workshop_psa_archive_review.pptx
# ├── 5
# │   ├── 01_pds4_workshop_labels.pptx
# │   ├── 02_pds4_workshop_product_types.pptx
# │   ├── 03_pds4_workshop_data_types.pptx
# │   ├── 04_pds4_workshop_external_formats.pptx
# │   ├── 05_pds4_workshop_discipline_dictionaries.pptx
# │   ├── 06_pds4_workshop_mission_instrument_dictionaries.pptx
# │   ├── 07_pds4_workshop_archive_documentation.pptx
# │   └── pds4-im-scr-20241105-v1.pptx
# ├── 6
# │   ├── 01_pds4_workshop_building_an_archive.pptx
# │   ├── 02_pds4_workshop_how_to_build_a_product.pptx
# │   ├── 03_pds4_workshop_hands_on_setup.pptx
# │   ├── 04_pds4_workshop_hands_on-validate.pptx
# │   ├── 05_pds4_workshop_hands_on-creation.pptx
# │   ├── ~$03_pds4_workshop_hands_on_setup.pptx
# │   └── ~$05_pds4_workshop_hands_on-creation.pptx
# ├── 7
# │   ├── 01_pds4_workshop_dictionary_creation.pptx
# │   ├── 02_pds4_workshop_putting_it_together.pptx
# │   ├── ~$01_pds4_workshop_dictionary_creation.pptx
# │   └── ~$02_pds4_workshop_putting_it_together.pptx
# └── 8
#     ├── 01_pds4_workshop_xpath_schematron.pptx
#     └── ~$01_pds4_workshop_xpath_schematron.pptx
# 
# 6 directories, 26 files


